@font-face {
  font-family: "LXGWWenKaiScreenR";
  src: url("/fonts/lxgwwenkaiscreen.subset.v1.235.standard.woff2");
}

/* https://www.webfontfree.com/cn/download/SFProText-Regular */
@font-face {
  font-family: "SFProText-Regular";
  src: url("/fonts/SFProText-Regular.woff2");
}

body {
  font-family: "SFProText-Regular", "LXGWWenKaiScreenR";
  font-size: 16px;
  line-height: 1.6;
  word-break: break-word;
  background: var(--theme);
  font-display: swap;
}

.active {
  color: #614a85;
}

img.active {
  transform: scale(1.35, 1.35);
}

.post-footer {
  margin-top: 56px;
  display: inline;
  width: 50%;
}

.post-tags {
  padding-top: 0.5em;
}

.iframe_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 第一个帖子距离 menu 的距离*/
.first-entry {
  min-height: 220px;
  margin: 0;
}
