{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
      <!-- 在元数据中显示分类信息 -->
      {{- $categories := .Language.Params.Taxonomies.category | default "categories"}}
      <!-- 统计分类个数 -->
      {{- $cnt := 0 }}
      {{- range ($.GetTerms $categories) }}
        {{- $cnt = add $cnt 1 }}
      {{- end }}
      <!-- 只有文章有分类信息时才显示 -->
      {{- if gt $cnt 0 }}
        {{- $i := 0 }}
        <div class="meta-item">&nbsp·&nbsp
            {{- range ($.GetTerms $categories) }}
                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                {{ $i = add $i 1 }}
                <!-- 不是最后一个类别时，添加逗号分割类别 -->
                {{- if lt $i $cnt}}
                    <span>,</span>
                {{- end }}
            {{- end }}
        </div>
      {{- end }}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  {{- if (.Param "ShowCopyRight") -}}
  {{ partial "post_copyright.html" . }}
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}

  {{- partial "mermaid.html" . }}
</article>

{{- end }}{{/* end main */}}