<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.css">
<script src="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.js"></script>
<script type="text/javascript">
(function(d) {
    let DEFAULT_OPTIONS = {
        indentSize: '1.2em',
        commentDelimiter: '//',
        lineNumber: false,
        lineNumberPunc: ':',
        noEnd: false,
        captionCount: undefined
    };
    pseudocode.renderElement(document.getElementById("pseudocode"), DEFAULT_OPTIONS);
})(document);
</script>